@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

*{
    font-family: outfit;
}


.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
      background-image: url(slide_icon.svg) ;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(assets/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-layer{
    background-image: url(assets/bg_layer.png);
}
